﻿@model AfterClass.Models.Course

@{
    ViewBag.Title = "Adicionar Curso";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-content container col-md-6" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5>Adicionar Curso</h5>
    </div>
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group col-md-auto">
            <hr />
            @Html.ValidationSummary(true, "", new
            {
                @class = "text-danger"
            })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.Name, "", new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>

            <div class="form-group container">
                @Html.Label("Disciplinas do curso:")
                @Html.ActionLink("Configurar", "CourseDisciplines", "Admin", new
                {
                    @class = "btn btn-info"
                })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />

                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>