﻿@model AfterClass.ViewModels.DisciplineViewModel

@{
    ViewBag.Title = "EditDiscipline";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-content container col-md-6" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5>Editar Disciplina</h5>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group col-md-auto">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group container">
                @Html.Label("Alunos:")
                @Html.ActionLink("Configurar", "DisciplineStudents", "Admin", new
                {
                    @class = "btn btn-info"
                })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    @Html.ActionLink("Voltar", "ListAllDisciplines", "Admin", new { @class = "btn btn-dark" })
                </div>
            </div>
        </div>
    }
</div>