﻿@model AfterClass.ViewModels.TeacherViewModel

@{
    ViewBag.Title = "Editar Professor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using(Html.BeginForm())
{
    <div class="modal-content container col-md-6" style="margin-top: 5%">
        <div class="modal-dialog">
            <h5>Editar Professor</h5>
        </div>

        <div class="form-group col-md-auto">
            @Html.AntiForgeryToken()

            <hr />
            @Html.ValidationSummary(true, "", new
            {
                @class = "text-danger"
            })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.Name, "", new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @placeholder = "exemplo@email.com"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.Email, "", new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new
                {
                    @class = "control-label col-md-10"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.UserName, "", new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new
                {
                    @class = "control-label col-md-2"
                })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @type = "password"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.Password, "", new
                    {
                        @class = "text-danger"
                    })
                </div>
            </div>

            <div class="form-group container">
                @Html.Label("Disciplinas Ministradas:")
                @Html.ActionLink("Configurar", "TeacherDisciplines", "Admin", new
                {
                    @class = "btn btn-info"
                })
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    @Html.ActionLink("Voltar", "ListAllTeachers", "Admin", new
                    {
                        @class = "btn btn-dark"
                    })
                </div>
            </div>
        </div>
    </div>
}
