﻿
@{
    ViewBag.Title = "Interface de Administrador";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="modal-content container col-md-8" style="margin-top: 5%">
    <div class="modal-header">
        <h5 class="modal-title">Interface de Administrador</h5>
    </div>
    <br />
    <div class="modal-body">
        <p>Utilize as ferramentas deste modo para gerenciar todos os registros do sistema.</p>
    </div>
</div>

