﻿@model IEnumerable<AfterClass.Models.Discipline>

@{
    ViewBag.Title = "Disciplinas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-content container col-md-6" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5 class="h5">Disciplinas</h5>
    </div>
    <p>
        @Html.ActionLink("Adicionar", "AddDiscipline", "Admin", new
        {
            @class = "btn btn-primary"
        })
    </p>
    <table class="table table-striped modal-body">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditDiscipline", new
                    {
                        id = item.Id
                    }) |
                    @Html.ActionLink("Exibir", "DisciplineView", new
                    {
                        id = item.Id
                    }) |
                    <a class="text-danger" href="#" data-toggle="modal" data-target="#@item.Name@item.Id">Remover</a>
                    <div class="modal fade" id="@item.Name@item.Id" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Remover Permanentemente?</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <p class="p-0">Deseja mesmo apagar a disciplina: @item.Name.ToUpper()</p>
                                </div>
                                <div class="modal-footer">
                                    @Html.ActionLink("Remover", "DeleteDiscipline", new { id = item.Id }, new { @class = "btn btn-danger"})
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>