﻿@model IEnumerable<AfterClass.Models.Teacher>

@{
    ViewBag.Title = "Registro de Professores";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-content container col-md-8" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5 class="h5">Registro de Professores</h5>
    </div>
    <p>
        @Html.ActionLink("Adicionar", "AddTeacher", "Admin", new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped modal-body">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditTeacher", new { id = item.Id}) |
                    @Html.ActionLink("Remover", "DeleteTeacher", new { id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }
    </table>
</div>