﻿@model IEnumerable<AfterClass.Models.Semester>

@{
    ViewBag.Title = "Semestres";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-content container col-md-8" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5 class="h5">Semestres</h5>
    </div>
    <p>
        @Html.ActionLink("Adicionar", "AddSemester", "Admin", new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped modal-body">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stage)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditSemester", new
                    {
                        id = item.Id
                    }) |
                    @Html.ActionLink("Exibir", "SemesterView", new
                    {
                        id = item.Id
                    }) |
                    @Html.ActionLink("Remover", "DeleteSemester", new { id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }

    </table>
</div>