﻿@model IEnumerable<AfterClass.Models.Course>

@{
    ViewBag.Title = "Cursos";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="modal-content container col-md-6" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5 class="h5">Cursos</h5>
    </div>
    <p>
        @Html.ActionLink("Adicionar", "AddCourse", "Admin", new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped modal-body">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditCourse", new
                    {
                        id = item.Id
                    }) |
                    @Html.ActionLink("Exibir", "CourseView", new
                    {
                        id = item.Id
                    }) |
                    @Html.ActionLink("Deletar", "DeleteCourse", new { id = item.Id }, new { @class = "text-danger" })
                </td>
            </tr>
        }

    </table>
</div>