﻿@model IEnumerable<AfterClass.Models.Discipline>

@{
    ViewBag.Title = "Disciplinas do Professor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    IList<SelectListItem> allDisciplines = new List<SelectListItem>();
    using (var repo = new AfterClass.Repositories.DisciplineRepository(MvcApplication.DataService.OpenSession())) {
        var all = repo.FindAll()
            .Where(x => x.Teacher == null);
        foreach (var d in all)
        {
            bool ok = true;
            foreach (var m in Model)
            {
                if (d.Id == m.Id)
                {
                    ok = false;
                }
            }
            if (ok)
            {
                allDisciplines.Add(new SelectListItem()
                {
                    Value = d.Id.ToString(),
                    Text = d.Name,
                    Selected = false
                });
            }
        }
    }
}
<div class="modal-content container col-md-6" style="margin-top: 5%">
    <div class="modal-dialog">
        <h5 class="h5">Disciplinas de @ViewBag.TeacherName</h5>
    </div>

    <p>
        @Html.ActionLink("Confirmar", "ConfirmTeacher", null, new{ @class = "btn btn-success"})
    </p>
    <table class="table table-striped modal-body">
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Remover", "TeacherRemoveDiscipline", new { id = item.Id }, new { @class = "text-danger"})
                </td>
            </tr>
        }
    </table>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Adicionar</button> |
        <a href="@Request.UrlReferrer" class="btn btn-dark">Voltar</a>
    </p>
    @using(Html.BeginForm())
    {
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Selecione a Disciplina:</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.ListBox("selectedDiscipline", allDisciplines, new
                        {
                            @size = 8,
                            @class = "col-md-12"
                        })
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Ok" />
                        <button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
                    </div>
                </div>

            </div>
        </div>
    }
</div>