﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AfterClass - @ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: url(../../Images/BG.jpg); background-repeat: no-repeat; background-size: cover">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            @Html.ActionLink("AfterClass", "Index", "Admin", new
            {
                @class = "navbar-brand"
            })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastrar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Alunos", "ListAllStudents", "Admin", new
                            {
                                @class = "dropdown-item"
                            })
                            @Html.ActionLink("Professor", "ListAllTeachers", "Admin", new
                            {
                                @class = "dropdown-item"
                            })
                            @Html.ActionLink("Disciplina", "ListAllDisciplines", "Admin", new
                            {
                                @class = "dropdown-item"
                            })
                            @Html.ActionLink("Curso", "ListAllCourses", "Admin", new
                            {
                                @class = "dropdown-item"
                            })
                            @Html.ActionLink("Semestre", "ListAllSemesters", "Admin", new
                            {
                                @class = "dropdown-item"
                            })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dataBase" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Opções
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dataBase">
                            @Html.ActionLink("Redefinir Banco de Dados", "ConfigureDatabase", "Admin", new
                            {
                                @class = "dropdown-item text text-danger"
                            })
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
