﻿@model AfterClass.ViewModels.LogonViewModel
@{
    ViewBag.Title = "Autenticar Usuário";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div class="container col-md-7" style="margin-top:5%">
        <img src="~/Images/AFTERCLASS.png" alt="AfterClass Logo">
    </div>
    <div class="container border rounded col-4 bg-white shadow-lg" style="margin-top:5%">

        <div style="margin-bottom: 25px; margin-top: 15px" class="bg-primary rounded text-white text-center">
            <h3 class="h3">Login do Sistema</h3>
        </div>

        <div>
            @Html.ValidationMessageFor(Model => Model.UserName, "", new
            {
                @class = "text-danger"
            })
            @Html.EditorFor(Model => Model.UserName, new
            {
                htmlAttributes = new
                {
                    @style = "margin-bottom: 25px",
                    @class = "form-control col-sm-auto",
                    @placeholder = "Nome de Usuário"
                }
            })
        </div>

        <div>
            @Html.ValidationMessageFor(Model => Model.Password, "", new
            {
                @class = "text-danger"
            })
            @Html.EditorFor(Model => Model.Password, new
            {
                htmlAttributes = new
                {
                    @class = "form-control col-sm-auto",
                    @placeholder = "Senha",
                    @type = "password",
                }
            })
        </div>

        <div>
            @Html.ValidationSummary(true, "", new
            {
                @class = "text-danger",
            })
        </div>

        <div>
            <input style="margin-bottom: 15px; margin-top: 25px" class="btn btn-primary form-control col-sm-auto" name="tbOk" type="submit" value="OK">
        </div>
    </div>
}


