﻿@model Exception
@{
    ViewBag.Title = "ExceptionHandler";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    <div class="modal-content container col-lg-8" style="margin-top:5%">
        <div class="modal-header">
            <h5 class="modal-title">@Model.GetType().FullName</h5>
        </div>
        <div class="modal-body">
            <p>@Model.Message</p><br />
            @{
                var e = Model.InnerException;
                while (e != null)
                {
                    <p>@e.Message</p><br />
                    e = e.InnerException;
                }
            }
            <p>@Model.StackTrace</p>
        </div>
        <div class="modal-footer">
            <a href="@Request.UrlReferrer" class="btn btn-dark">Voltar</a>
        </div>
    </div>
}

